.plug {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--g-spacing-1);
    padding: var(--g-spacing-1);

    border-radius: var(--g-border-radius-xs);
    border: var(--g-spacing-half) solid var(--g-color-line-generic);
    background:var(--g-color-base-generic);
    padding: var(--g-spacing-1);
}