.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    
}

.widget {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--g-spacing-2); 
    &:not(:last-child) {
        border-right: var(--g-spacing-half) solid var(--g-color-line-generic);
    }
}