.main{
    width: 100%;
    height: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:var(--g-color-base-generic);
    padding: var(--g-spacing-1);
}