.wrapper{
    background: var(--g-color-base-generic);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--g-spacing-half);
    padding: var(--g-spacing-half);
    flex: 0 0 var(--g-text-header-2-line-height);
    background: var(--g-color-base-generic-medium);
    overflow: hidden;
    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--g-spacing-half);
        padding: var(--g-spacing-half);
    }
    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--g-spacing-half);
        padding: var(--g-spacing-half);
    }
}
}