.main {
    padding: var(--g-spacing-1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    flex: 1;

}

.toolbox {
    flex:0 0 fit-content;
    border-radius: var(--g-border-radius-xs);
    border: var(--g-spacing-half) solid var(--g-color-line-generic);
    overflow: hidden;
}

.layoutContainer {
    flex: 1 1 auto;
    overflow: hidden;
    padding: var(--g-spacing-1) 0;
    display: flex;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    flex: 1;
    gap: var(--g-spacing-1);
    &>* {
        padding: var(--g-spacing-1);
        display: flex;
        overflow: hidden;
    }
    .buttonsList{
        flex:1;
        height: 100%;
    }
}
