.wrapper{
    background: var(--g-color-base-generic);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: 2px solid var(--g-color-text-info);
    border-radius: var(--g-border-radius-m);
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    left: 0;
    top: 0;
    
    .buttonsBlock{
        background:var(--g-color-text-info); 
        padding: var(--g-spacing-1);
        border-bottom-left-radius: var(--g-border-radius-m);
    }
}   