.body {
    background: var(--g-color-base-generic);
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    gap: var(--g-spacing-2);
}