.body {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: stretch;
    justify-content: center;
    gap: var(--g-spacing-2);
    .frame{
        flex: 1 0 100%;
        border: 0px;
    }
}